* {
    --green: #34a853;
    --red: #ea4335;
    --blue: #4285f4;
    --yellow: #fbbc05;
}



.box1 {
    background-color: var(--green);
}

.box2 {
    background-color: var(--red);
}

.box3 {
    background-color: var(--blue);
}

.box4 {
    background-color: var(--yellow);
}